body {
    background: #ffefde;
    font-family: sans-serif;
    background-image: url(/assets/images/bg.png);
}

.form {
    background: #F98367;
    width: 400px;
    height: 570px;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid #15202b;
}

hr {
    width: 370px;
    height: 2px;
    background-color: #ffefde;
    border: none;
    margin-bottom: 30px;
}

label {
    font-size: 25px;
}

.guessField {
    margin-top: 30px;
    width: 200px;
    height: 40px;
    outline: none;
    border: 2px solid #ffefde;
    border-radius: 30px;
    background: rgb(26, 26, 26);
    color: white;
    text-align: center;
    font-size: larger;
}

.guessSubmit {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border-style: none;
    font-size: 30px;
    font-weight: 700;
    background: #282828;
    border: 2px solid #ffefde;
    transition: 0.3s ease;
}

.guessSubmit:hover {
    background: #ffefde;
    color: #F98367;
}

p {
    font-size: 20px;
}

h2 {
    margin-left: 165px;
    margin-right: 165px;
    padding: 10px;
    justify-items: center;
    margin-top: 10px;
    font-size: 35px;
    border: 2px solid #ffefde;
    border-radius: 50%;
    color: rgb(81, 255, 0);
}

.confirm-button {
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 7px;
    color: white;
    font-size: 17px;
    font-weight: 540;
}

#play-again {
    display: none;
}

#guess-word-box {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mid-box2 {
    display: none;
}

#mid-box3 {
    display: none;
}

#mid-box2 h1 {
    margin-top: 50px;
    font-size: 25px;
}

#mid-box2 p {
    margin-top: 40px;
    font-size: 18px;
}

#mid-box2 h2 {
    border: none;
    font-size: 45px;
    color: rgb(81, 255, 0);
    margin-bottom: -20px;
}

#mid-box3 h2 {
    border: none;
    font-size: 50px;
    color: red;
}

#yes {
    background: rgb(4, 167, 4);
}

#no {
    background: red;
    margin-left: 20px;
}

.confirm-button:hover {
    transition: ease-in;
    transition-duration: 0.1s;
    transform: translateY(-1px);
}

.answer-btn {
    height: 38px;
    width: 90%;
    margin: 10px;
    background-color: #ffefde;
    border: 2px solid #22303c;
    border-radius: 10px;
    color: #F98367;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#next-btn {
    background-color: #F98367;
    border: 2px solid #22303c;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    height: 40px;
}

#next-btn:hover {
    background-color: #22303c;
    transition: 150ms ease-in;
}

#guess-word-box input {
    width: 40px;
    height: 40px;
    text-align: center;
    color: #F98367;
    background-color: #ffefde;
    border: 2px solid #22303c;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 10px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs input {
    height: 57px;
    width: 56px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    color: #1ba98c;
    text-align: center;
    border-radius: 5px;
    background: none;
    pointer-events: none;
    text-transform: uppercase;
    border: 1px solid #B5B5B5;
}

.typing-input {
    opacity: 0;
    z-index: -999;
    position: absolute;
    pointer-events: none;
}

.inputs input:first-child {
    margin-left: 0px;
}

.details {
    margin: 20px 0 25px;
}

.details p {
    font-size: 19px;
    margin-bottom: 10px;
}

.content .reset-btn {
    width: 100%;
    border: none;
    cursor: pointer;
    color: #fff;
    outline: none;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    background: #15202B;
    transition: all 0.3s ease;
}

.content .reset-btn:hover {
    background: #1d2833;
}

@media only screen and (max-width: 450px) {
    .form {
        width: 340px;
    }

    .content {
        margin: 25px 20px 35px;
    }

    .inputs input {
        height: 51px;
        width: 50px;
        margin: 3px;
        font-size: 22px;
    }

    .details p {
        font-size: 17px;
    }

    .content .reset-btn {
        padding: 14px 0;
        font-size: 16px;
    }
}